
.comptes{
    background-image: url(/src/images/background.png);
    
    background-size: "cover";
    height: "220vh",
}
@media screen and (max-width:1200px) {
    .comptes{
        width: 1300%;
    }
}

@media screen and (max-width:600px) {
    .comptes{
        width: 250%;
    }
}

                        