.credits{
    background-image: url(/src/images/backCredit.png);
   
    background-size: "cover";
    height: "220vh"
}
@media screen and (max-width:1200px) {
    .credits{
        width: 1300%;
    }
}

@media screen and (max-width:600px) {
    .credits{
        width: 250%;
    }
}