.formulaire{
    /* background-image: url(/src/images/backFormulaire.png); */
    background-color: #f8ad13;
    padding:"100px";
    background-size: "cover";
    height: "220vh",
}
@media screen and (max-width:1200px) {
    .formulaire{
        width: 1300%;
    }
}

@media screen and (max-width:600px) {
    .formulaire{
        width: 250%;
    }
}