.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}


.circle {
  width: 130px;
  height: 130px;
  line-height: 130px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  color: #e89059;
  text-align: center;
  background: white
  
}
#conteneur
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px; /* Un peu de hauteur pour que les éléments aient la place de bouger */
}

a:link 
{ 
 text-decoration:none; 
}
hr {
  
  width: 200vh;
  border: 50px;
  border-top:  solid rgba(0, 0, 0, 0.1);
  
}

.v-line1{
   
  border-left: thick solid white;;
  height:40%;
  left: 40%;
  position: absolute;
 }
 @media screen and (max-width:1200px) {
  .v-line1{
      left: 120%;
  }
}

@media screen and (max-width:300px) {
  .v-line1{
      left: 150%;
  }
}
 .v-line2{
   
  border-left: thick solid white;;
  height:40%;
  left: 70%;
  position: absolute;
 }
 @media screen and (max-width:1200px) {
  .v-line2{
      left: 180%;
  }
}

@media screen and (max-width:300px) {
  .v-line2{
      left: 150%;
  }
}
 .moncercle{
  background:white;
  border-radius:50%;
  width:10px;
  height:10px;
  border:2px solid white; 
}
.sliderimg{
  width: 100%;
  height: 500px;
  object-fit: cover
}
.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.top-bar span{
  font-size: 15px;
  padding: 1px 5px;
}
.navbar-nav .nav-link{
  color: black !important;
  font-size: 16px;
  margin: 6px;
  font-weight: 600;
}
.navbar-nav .nav-link :hover{
  color: #007bff !important;
  
}
nav{
  padding: 0 50px;
  width: 100%;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-one{
  background-color: black;
  color: white;
  height: 40px;
  cursor: pointer;
}
.left > div + div {
  margin-left: 40px;
}
.right > div {
  margin-left: 40px;
}
.left > div:hover,
.right >div:hover{
  color: black;
  transition: all 0.5s;
}
span{
  margin-left: 5px;
}
.navbar-second{
  background-color: white;
  height: 90px;
  position: sticky;
  top: 0;
}
.logo{
  
  text-transform: uppercase;
  font-size: 24px;
  cursor: pointer;
  color: #007bff;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  margin-left: 30px;
  color: black;
  font-weight: 400;
}
@media screen and (max-width:1200px) {
   
  .navbar-one{
          width: 80%;
      }
  }
  
  @media screen and (max-width:600px) {
      
  .navbar-one{
          width: 90%;
      }
}
/* section{
  width: 250vh;
  height: 150vh;
  background: url(../src/images/back.png)no-repeat center / cover;
} */